# Environment & system files
.env
.env.*
.DS_Store

# Python cache and virtual environment
__pycache__/
venv/

# Scraper outputs
scraper/linkedin_cookies.json
scraper/names_to_search.csv
scraper/output/

